body {
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
    width: 1437px;
    height: 100vh;
    margin: 0;
}

header {
    height: 100px;
}

.menu-toggle {
    display: none;
}

.menu-header {
    position: sticky;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    z-index: 1001;
}

.menu-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.site-name {
    font-size: 32px;
    font-weight: bold;
    color: #3560F6;
}

.menu-left {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-left: 100px;
    gap: 18px;
}

.menu-right {
    display: flex;
    justify-content: flex-end;
    width: 609px;
    height: 50px;
    margin-right: 100px;
}

.menu-toggle:checked+.menu-header .menu-button {
    background-image: url("../images/close.png");
}

.menu-toggle:checked+.menu-header .site-name {
    display: none;
}

.menu {
    position: fixed;
    top: 14px;
    left: 22px;
    width: 1392px;
    height: 788px;
    background: white;
    color: white;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.menu-toggle:checked~.menu {
    visibility: visible;
    opacity: 1;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item form .logout-button {
    background: none;
    border: none;
    color: #3560F6;
    text-decoration: none;
    cursor: pointer;
    font-size: 32px;
    padding: 0;
}

.menu-item {
    margin: 20px 0;
}

.menu-item a {
    color: #3560F6;
    text-decoration: none;
    font-size: 45px;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }

    header {
        height: 53px;
    }

    .menu-header {
        top: 11px;
        left: 11px;
        gap: 13px;
    }

    .menu-button {
        width: 21px;
        height: 21px;
    }

    .site-name {
        font-size: 18px;
    }

    .menu-left {
        margin-top: 21px;
        margin-left: 53px;
        gap: 10px;
    }

    .menu-right {
        width: 322px;
        height: 26px;
        margin-right: 53px;
    }
    

    .menu {
        top: 8px;
        left: 12px;
        width: 743px;
        height: 421px;
    }

    .menu-item form .logout-button {
        font-size: 18px;
    }

    .menu-item a {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    body {
        max-width: 480px;
    }

    header {
        height: 33px;
    }

    .menu-header {
        top: 7px;
        left: 7px;
        gap: 8px;
    }

    .menu-button {
        width: 13px;
        height: 13px;
    }

    .site-name {
        font-size: 11px;
    }

    .menu-left {
        margin-top: 13px;
        margin-left: 33px;
        gap: 6px;
    }

    .menu-right {
        width: 200px;
        height: 16px;
        margin-right: 33px;
    }
    

    .menu {
        top: 5px;
        left: 7px;
        width: 464px;
        height: 263px;
    }

    .menu-item form .logout-button {
        font-size: 11px;
    }

    .menu-item a {
        font-size: 15px;
    }
}