body {
    font-family: Arial, sans-serif;
    background-color: #eee;
    max-width: 1920px;
    min-width: 1100px;
    min-height: 100vh;
    margin: 0;
}

header {
    height: 100px;
    padding: 50px;
}

.menu-toggle {
    display: none;
}

.menu-header {
    position: sticky;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    z-index: 1001;
}

.menu-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.menu-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.menu-toggle:checked+.menu-header .menu-button {
    background-image: url("../images/close.png");
}

.site-name {
    font-size: 45px;
    font-weight: bold;
    color: blue;
}

.menu-toggle:checked+.menu-header .site-name {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: white;
    color: white;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.menu-toggle:checked~.menu {
    visibility: visible;
    opacity: 1;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item form .logout-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-size: inherit;
    font-size: 45px;
    padding: 0;
}

.menu-item {
    margin: 20px 0;
}

.menu-item a {
    color: blue;
    text-decoration: none;
    font-size: 45px;
}

@media screen and (max-width: 480px) {
    body {
        margin: 0;
        min-width: 100vh;
        overflow-x: hidden;
    }

    header {
        height: 100px;
        padding: 20px;
    }

    .menu {
        left: 0;
        right: 0;
        width: 100vw;
        max-width: 100vw;
        box-sizing: border-box;
        word-break: break-word;
        overflow-x: hidden;
    }

    .site-name {
        font-size: 30px;
    }

    .menu-button {
        width: 40px;
        height: 40px;
    }

    .menu-list {
        width: 100%;
    }

    .menu-item {
        min-width: 100vw;;
        overflow-wrap: break-word;
        text-align: center;
    }
    
    .menu-item a,
    .menu-item form .logout-button {
        display: inline-block;
        max-width: 100%;
        white-space: normal;
        text-align: center;
    }

    header {
        margin: 0 10px;
        height: auto;
    }

    .menu-header {
        top: 10px;
        left: 10px;
    }
}

@media screen and (max-width: 768px) {
    body {
        min-width: auto;
        max-width: 100%;
    }

    .site-name {
        font-size: 36px;
    }

    .menu-button {
        width: 45px;
        height: 45px;
    }

    .menu-item a,
    .menu-item form .logout-button {
        font-size: 36px;
    }

    header {
        margin: 0px;
        height: auto;
    }

    .menu-header {
        top: 15px;
        left: 15px;
    }
}