.search-form {
    display: flex;
    align-items: center;
    width: 609px;
    height: 50px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.search-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 6px;
    width: 100%;
}

.search-select {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #7f7f7f;
    width: 100px;
    height: 30px;
    border-right: 1px solid #7f7f7f;
}

.search-dropdown {
    width: 100%;
    border: none;
    font-size: 16px;
    color: #7f7f7f;
    outline: none;
    cursor: pointer;
}

.search-input-container {
    display: flex;
    align-items: center;
    width: 397px;
    height: 30px;
}

.search-input {
    border: none;
    background: transparent;
    font-size: 16px;
    color: #7f7f7f;
    outline: none;
    width: 397px;
    height: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 18px;
}

.shop-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1241px;
    gap: 25px 13px;
}

.shop-card {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    width: 300px;
    height: 280px;
}

.shop-card:hover {
    transform: translateY(-5px);
}

.shop-image {
    width: 300px;
    height: 150px;
    overflow: hidden;
}

.shop-image__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 130px;
}

.shop-name {
    display: flex;
    align-items: center;
    height: 18px;
    font-size: 16px;
    margin-top: 22px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.shop-meta {
    display: flex;
    justify-content: flex-start;
    width: 262px;
    margin-top: 9px;
    margin-left: 19px;
}

.shop-category {
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
}

.favorite-form {
    display: flex;
    justify-content: center;
}

.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
}

.favorite-heart {
    width: 34px;
    height: 30px;
    transition: transform 0.2s;
}

.favorite-heart {
    transform: scale(1.1);
}

.shop-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 261px;
    height: 31px;
    margin-top: 16px;
    margin-left: 20px;
}

.detail-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3560F6;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    transition: background 0.3s;
    width: 97px;
    height: 31px;
}

.detail-button:hover {
    background: #0056b3;
}

@media screen and (max-width: 768px) {
    .search-form {
        width: 322px;
        height: 26px;
    }
    
    .search-row {
        padding: 0 3px;
    }
    
    .search-select {
        font-size: 8px;
        width: 52px;
        height: 15px;
    }
    
    .search-dropdown {
        font-size: 8px;
    }
    
    .search-input-container {
        width: 210px;
        height: 15px;
    }
    
    .search-input {
        font-size: 8px;
        width: 210px;
        height: 15px;
    }
    
    main {
        margin-top: 9px;
    }
    
    .shop-list {
        width: 657px;
        gap: 13px 6px;
    }
    
    .shop-card {
        width: 159px;
        height: 148px;
    }
    
    .shop-image {
        width: 159px;
        height: 79px;
    }
    
    .shop-info {
        width: 159px;
        height: 68px;
    }
    
    .shop-name {
        height: 9px;
        font-size: 8px;
        margin-top: 11px;
        margin-left: 10px;
    }
    
    .shop-meta {
        width: 138px;
        margin-top: 4px;
        margin-left: 10px;
    }
    
    .shop-category {
        font-size: 6px;
    }
    
    .favorite-heart {
        width: 18px;
        height: 15px;
    }
    
    .shop-actions {
        width: 138px;
        height: 16px;
        margin-top: 8px;
        margin-left: 10px;
    }
    
    .detail-button {
        font-size: 6px;
        width: 51px;
        height: 16px;
    }
}

@media screen and (max-width: 480px) {
    .search-form {
        width: 203px;
        height: 16px;
    }
    
    .search-row {
        padding: 0 2px;
    }
    
    .search-select {
        font-size: 5px;
        width: 33px;
        height: 10px;
    }
    
    .search-dropdown {
        font-size: 5px;
    }
    
    .search-input-container {
        width: 132px;
        height: 10px;
    }
    
    .search-input {
        font-size: 5px;
        width: 132px;
        height: 10px;
    }
    
    main {
        margin-top: 6px;
    }
    
    .shop-list {
        width: 413px;
        gap: 8px 4px;
    }
    
    .shop-card {
        width: 100px;
        height: 93px;
    }
    
    .shop-image {
        width: 100px;
        height: 50px;
    }
    
    .shop-info {
        width: 100px;
        height: 43px;
    }
    
    .shop-name {
        height: 6px;
        font-size: 5px;
        margin-top: 7px;
        margin-left: 6px;
    }
    
    .shop-meta {
        width: 87px;
        margin-top: 3px;
        margin-left: 6px;
    }
    
    .shop-category {
        font-size: 4px;
    }
    
    .favorite-heart {
        width: 11px;
        height: 10px;
    }
    
    .shop-actions {
        width: 87px;
        height: 10px;
        margin-top: 5px;
        margin-left: 6px;
    }
    
    .detail-button {
        font-size: 4px;
        width: 32px;
        height: 10px;
    }
}